body {
    background-image: linear-gradient(to top, #d496a7 0%, #ce5b61 95%);
    background-color: #90b78d;
    font-family: sans-serif;
    line-height: 150%;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #333;
}

a:hover {
    cursor: pointer;
    color: #FFF;
}

#frame {
    max-width: 420px;
    margin: 0 auto;
    border: 3px #a26524 dashed;
    padding: 5px;
}

.gameover {
    background-color: #cc4646;
}

#feld {
    width: 100px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 1px #DDD solid;
}

#hand {
    margin-left: auto;
    margin-right: auto;
}

#hand .karte {
    width: 100px;
    float: left;
    padding: 10px;
    border: 1px #DDD solid;
}

.karte #angriff, .karte #verteidigung, .karte #leben {
    float: right;
    margin-right: 5px;
}

.karte #angriff::before {
    content: '⚔';
}

.karte #verteidigung::before {
    content: '⛨';
}

.karte #leben::before {
    content: '❤';
}

.karte #name {
    clear: both
}
.karte .aktiv {
    width: 100%;
}

#message {
    clear: both
}