body {
    background-image: linear-gradient(to top, #90b78d 0%, #62a256 95%);
    background-color: #90b78d;
    font-family: sans-serif;
    line-height: 150%;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #333;
}

a:hover {
    cursor: pointer;
    color: #FFF;
}

#frame {
    max-width: 320px;
    margin: 0 auto;
    border: 3px #a26524 dashed;
    padding: 20px;
}

.gameover {
    background-color: #cc4646;
}