@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
* {
    box-sizing: border-box;
    animation-name: flick;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
    animation-delay: 10s;
}
body {
    background-color: #DDD;
    color: #22672e;
    font-family: "Ubuntu Condensed", sans-serif;
    line-height: 150%;
    font-size: 125%;
}
h1, h2 {
    margin: 0px 0px;
    line-height: 100%;
    text-transform: uppercase;
    /*text-shadow: 0px 0px 3px #00FF2F;*/
    animation-duration: 5s;
    animation-name: glowme;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-bottom: 10px;
}
h2::after {
    content: "_";
}
a, a:link, a:visited {
    color: #22672e;
    text-decoration: none;
    border-bottom: 1px solid #4db760;
    padding: 0px 3px;
    /*text-shadow: 0px 0px 0px #00FF2F;*/
}
a:hover {
    background-color: #38a24b;
    color: #111;
    cursor: pointer;
}
abbr {
    border-bottom: 1px dashed #00FF5F;
    cursor: help;
}
img {
    max-width: 100%;
}
.container img {
    max-width: 32%;
}
#main {
    max-width: 800px;
    margin: 0px auto;
}
#post {
    max-width: 640px;
    margin: 0px auto;
}
.slider {
    overflow: hidden;
    height: 500px;
    text-align: center;
}
.viernullvier, .viernullvier h1 {
    font-size: 250%;
    line-height: 150%;
}
.twitter-tweet {
    font-size: 90%;
}
.row1 {
    float: left;
    width: 50%;
}
.row2 {
    width: 50%;
    float: right;
}
.row1-3, .row2-3, .row3-3 {
    width: 33%;
    float: left;
    padding: 5px;
}
.row3-3:after {
    content: "";
    clear: both;
    display: block;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
.tile {
    padding: 20px;
    margin: 10px 5px;
    background-color: #afb7b1;
}
.title li {
    font-size: 90%;
}
@media (max-width: 800px) {
    .row1, .row2 {
        float: none;
        width: auto;
    }
    .row1-3 {
        float: none;
        width: auto;
    }
    .row2-3, .row3-3 {
        display: none;
    }
}
@keyframes flick {
    0%   {}
    100% { filter: hue-rotate(90deg); }
}
@keyframes glowme {
  0% { text-shadow: 0px 0px 0px rgba(255, 255, 255, 0); }
  50% { text-shadow: 0px 0px 20px #22672e; }
  100% { text-shadow: 0px 0px 0px rgba(255, 255, 255, 0); }
}
