@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
* {
    box-sizing: border-box;
    animation-name: flick;
    animation-duration: 320s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
body {
    background-color: #C6C6C6;
    color: #524a3d;
    font-family: "Ubuntu Condensed", sans-serif;
    line-height: 150%;
    font-size: 130%;
}
h1, h2 {
    margin: 0px 0px;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 10px;
    background-color: #424242;
    padding: 5px;
    color: #906b2f;
    box-shadow: 5px -5px #906b2f;
}
h2::after {
    content: "_";
}
a, a:link, a:visited {
    color: #906b2f;
    text-decoration: none;
    border-bottom: 1px solid #524a3d;
    padding: 0px 3px;
    /*text-shadow: 0px 0px 0px #00FF2F;*/
}
a:hover {
    background-color: #906b2f;
    color: #111;
    cursor: pointer;
}
abbr {
    border-bottom: 1px dashed #00FF5F;
    cursor: help;
}
img {
    max-width: 100%;
}
.container img {
    max-width: 32%;
}
#main {
    max-width: 640px;
    margin: 0px auto;
    background-color: #C6C6C6;
    padding: 5px;
    box-shadow: -5px 5px #906b2f;
}
#post {
    max-width: 640px;
    margin: 0px auto;
}
.slider {
    overflow: hidden;
    height: 500px;
    text-align: center;
}
.viernullvier, .viernullvier h1 {
    font-size: 250%;
    line-height: 150%;
}
.twitter-tweet {
    font-size: 90%;
}
.row1 {
    float: left;
    width: 50%;
}
.row2 {
    width: 50%;
    float: right;
}
.row1-3, .row2-3, .row3-3 {
    width: 33%;
    float: left;
    padding: 5px;
}
.row3-3:after {
    content: "";
    clear: both;
    display: block;
}
.tile {
    padding: 20px;
    margin: 10px 5px;
}
.title li {
    font-size: 90%;
}
@media (max-width: 800px) {
    .row1, .row2 {
        float: none;
        width: auto;
    }
    .row1-3 {
        float: none;
        width: auto;
    }
    .row2-3, .row3-3 {
        display: none;
    }
}
@keyframes flick {
    0%   {}
    50% { filter: hue-rotate(90deg); }
    100%   {}
}
