* {
    box-sizing: border-box;
}
body {
    background-color: #333;
    color: #00FF2F;
    font-family: monospace;
    line-height: 170%;
    font-size: 105%;
}
h1, h2 {
    text-transform: uppercase;
    /*text-shadow: 0px 0px 3px #00FF2F;*/
    animation-duration: 5s;
    animation-name: glowme;
    animation-iteration-count: infinite;
}
h2::after {
    content: "_";
}

a, a:link, a:visited {
    color: #00FF5D;
    text-decoration: none;
    border-bottom: 1px solid #00FF2F;
    padding: 0px 3px;
    text-shadow: 0px 0px 0px #00FF2F;
}
a:hover {
    background-color: #00FF2F;
    color: #111;
    cursor: pointer;
}
a[href^="http://"]::before, a[href^="https://"]::before {
    content: "🌐 "
}
abbr {
    border-bottom: 1px dashed #00FF5F;
    cursor: help;
}
img {
    max-width: 100%;
}
#main {
    max-width: 1200px;
    margin: 0px auto;
}
.row1 {
    float: left;
    width: 50%;
}
.row2 {
    width: 50%;
    float: right;
}
.row1-3, .row2-3, .row3-3 {
    width: 33%;
    float: left;
    padding: 5px;
}
.row3-3:after {
    content: "";
    clear: both;
    display: block;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
.tile {
    padding: 20px;
    margin: 50px;
    background-color: #415044;
}
@media (max-width: 800px) {
    .row1, .row2 {
        float: none;
        width: auto;
    }
    .row1-3 {
        float: none;
        width: auto;
    }
    .row2-3, .row3-3 {
        display: none;
    }
}
@keyframes glowme {
  0% { text-shadow: 0px 0px 0px #00FF2F; }
  25% { text-shadow: 0px 0px 3px #00FF2F; }
  50% { text-shadow: 0px 0px 5px #00FF2F; }
  75% { text-shadow: 0px 0px 3px #00FF2F; }
  100% { text-shadow: 0px 0px 0px #00FF2F; }
}
