<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="alternate" type="application/rss+xml" title="1337core Feed" href="/blog/feed.rss">
    <title>1337blog RSS-Futter</title>
</head>

<body>
    <div id="main">
        <h1>1337blog</h1>
        <p>
            Na, ihr Nerds? Hier gibt es <a href="https://www.1337core.de/blog/feed.rss">frisches RSS-Futter</a>
            für euren Reader: Die schönsten Exploits, die nicesten Hacks! Hier 
            kündige ich Neues an oder schreibe über Updates meiner Projekte. 
            Manchmal schreibe ich auch einfach wie es mir geht.
        </p>
        [#BLOG_INDEX#]
    </div>
</body>

</html>