html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  background: #54A8F9;
  background-image: radial-gradient( closest-corner at 20% 90%, #0d84f6, transparent ), radial-gradient( closest-corner at -10% 20%, #134bc4, transparent ), radial-gradient(closest-corner at 15% 90%, #023a98, transparent), radial-gradient( closest-corner at 20% 55%, #c8f7f4, #54A8F9);
  background-position: center;
  background-size: 100%;
}

#bowl {
  perspective: 1000px;
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: inset 0 0 100px #000000;
}

/* #glas {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(65deg, transparent, rgba(1,1,1,0.4), transparent, rgba(1,1,1,0.6));
  animation: Shine 60s alternate infinite;
  background-size: 200% 200%;
} */

.underground {
  z-index: -5;
  margin: 0 auto;
  width: 120%;
  height: 40%;
  bottom: -5px;
  left: -10%;
  box-shadow: 0px 0px 100px #DDD;
  position: absolute;
  background: url('background.jpg');
}

.flip {
  transform: scaleX(-1);
}

.plant {
  font-size: 400%;
  text-shadow: 50px 50px 50px #333;
  position: absolute;
  bottom: 20px;
}

.fish {
  font-size: 200%;
}

.ground {
  cursor: default;
  font-size: 200%;
  text-shadow: 10px 10px 20px #333;
}

.fish, .droplet, .ground, .cyclone {
  position: absolute;
  transition-property: left, top;
  transition-delay: 0s;
}

.slow {
  transition-duration: 120s;
}

.fast {
  transition-duration: 30s;
}

.cyclone {
  animation: spin 5s infinite;
}

@keyframes Shine {
  0% {background-position: 0% 50%;}
  100% {background-position: 100% 50%;}
}

@keyframes spin {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}
