body {
    background-color: #666;   
}

#main {
    width: 100%;
    min-height: 320px;
    border-bottom: 5px solid #000;
    margin: 0 auto;
    position: relative;
}
#controller {
    margin-top: 20px;
    text-align: center;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 5px;
}

#player1 {
    bottom: 0;    
    position: absolute;
    cursor: pointer;
}
.augenP1 {
    position:absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 3px 3px 3px #00FF2F;
}
#augeL {
    top: 80px;
    left: 50px;
}
#augeR {
    top: 80px;
    left: 85px;
}
